.about-container{
      width: 100%;
      max-width: 1140px;
      margin: auto;
}
.faq-container{
      height: 100vh;
}
.about-heading{
      color:  #F8FAFC;
      font-family: "Roboto";
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: 64px; 
      margin: 15px 0;
}
.last-updated{
      color:  #94A3B8;
      font-family: "Roboto";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; 
}
.vaccine-distribution{
      color: #E2E8F0;
      font-family: "Roboto";
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 36px; 
      margin: 15px 0;
}